@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.card-body {
    width: 26rem;
    height: 26rem;
    font-size: 1.5rem;
    color: #2e1065;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1px 2px 2rem rgba(95, 0, 156, 0.4);
    border-width: 0.5rem;
    border-color: #2e1065;
    border-style: solid;
}
